<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <span class="text" >FʘʘDY</span>
    <div class="cart" >
      <a  class="home" href="" style="margin:0 3rem;" routerLink="/">Home</a>
      <a href="" style="display: flex" routerLink="/cart-page">
        <mat-icon
          class="cart-icon"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="shopping_cart"
        ></mat-icon
        >Cart</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
