.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

mat-card {
    display: flex;
    background-color: #fff;
    box-shadow: none;
    cursor: pointer;
}

mat-card mat-card-content a {
    width: 21rem;
    height: 22rem;
    border: 1px solid rgba(128, 128, 128, 0.297);
    display: flex;
    overflow: hidden;
    margin: 0.5rem;
    flex-direction: column;
    color: #e72;
    border-radius: 30px;
}

mat-card-content a:hover {
    opacity: 0.9;
}

.content {
    .name {
        margin: 10px 15px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }

    .favorite {
        margin-left: 30px;
        color: red;
    }

    .favorite.not {
        color: gray;
        
    }
}

ngb-rating {
    font-size: 20px;
    margin-left: 1rem;
    color: green;
}

.product-item-footer {
    .origins {
        margin: 15px 15px;
        justify-content: space-between;
        display: flex;
    }
}

.cooktime {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}